.column {
  background-color: rgb(202, 202, 202);
  height: 80%;
  width: 30%;
  float: left;
  margin-inline: 1.6%;
  border-radius: 2%;
}

.label {
  padding: 5%;
  font-weight: bold;
  font-size: 1.5rem;
}
.column_cards {
  height: 90%;
  overflow: auto;
}
