.button {
  float: left;
  width: 5rem;
  height: 3rem;
  margin-inline: 2px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 1rem;
  font-weight: lighter;
}

.button:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
